
   <!-- end wrapper -->
   </div> 
   <div id="footer"> 
      props to <a href="http://justinouellette.com">justin ouellette</a> for the original idea. music and video copyright their respective owners. content from <a href="http://youtube.com/">youtube</a>. hacked together by <a href="http://sigusr2.net/">sigusr2</a>. we like bees. Try a <a href="/random">random muxtube</a>.
   </div> 
   %if include_player:
   <div id="player-container"> 
      <div id="player"></div> 
   </div> 
   <script type="text/javascript" src="/static/js/muxtube.js"></script> 
   %end
</body> 
</html> 
