

%include header_template title='muxtube login', foreground_color=foreground_color, request=request, settings=False

<div id="subheader">
   <h1>login to muxtube</h1>
</div>

<div class="form">
   %if error:
   <p class="error">{{ error }}</p>
   %end
   <form action="/login" method="post">
      <p>
         <label for="username">Username:</label>
         <input type="text" id="username" name="username" value="" />
      </p>
      <p>
         <label for="password">Password:</label>
         <input type="password" name="password" id="password" />
      </p>
      <p>
         <input type="submit" value="Login" />
      </p>
   </form>
</div>

%include footer_template include_player=False
